html, body{
	font-family: 'Work Sans', sans-serif;
	 font-size: 16px;
	
	  background: #ececec;
	}



	*{
	  margin:auto;
	  padding: 0px;
	}





.troopets-pw-area {
	background: #fff;
	border: solid 2px #d5d5d5;
	width: 100%;
	max-width: 650px;
	    margin: 35px auto;
}	

.troopets-pw-logo {
    width: 150px;
    margin:40px auto 30px auto;
}
.troopets-pw-msg p {
	text-align: center;
	font-size: 20px;
}
.troopets-pw-form form {
	max-width: 460px;
	width: 100%;
}
.troopets-pw-form form .form-group{
	margin-bottom: 20px;
}
.troopets-pw-form form .form-group label{
	    color: #9e9da2;
    font-size: 18px;
	font-weight: normal;
	padding: 0 0 0 20px;
}
.troopets-pw-form form .form-group input {
	height: 55px;
	border: solid 3px #e0dfe3;
	border-radius: 8px;
}
.troopets-pw-form {
    padding: 0 0 40px 0;
}
.troopets-pw-submit-btn {
	    background: #be1e2e;
    border-radius: 18px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: auto;
    display: block;
    padding: 8px 5px;
    cursor: pointer;
}
.troopets-pw-submit-btn:hover,.troopets-pw-submit-btn:focus,.troopets-pw-submit-btn:active,.troopets-pw-submit-btn:visited{
	background: #be1e2e;
	color: #fff;
	outline: none;
}